@import "tailwindcss";

@layer base {
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    pre,
    code {
        @apply font-mono;
    }

    .fade-in {
        animation: fadeIn 0.3s ease-in;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
